/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  .cards-1 {
    margin: auto;
    gap: 1.5rem;
  }

/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .cards-1 {
    flex-direction: column;

    gap: 1.5rem;
    margin-top: 2rem;
  }
  .cards {
    flex-direction: column;

    gap: 1.5rem;
  }
  .container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
  }
  .detail {
    margin: 1rem;
    font-size: 14px;
  }
  .team-img {
    width: 150px;
    height: 130px;
  }
  .team-card {
    height: 280px;
    width: 280px;
  }
  .team-cards-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .social-icons {
    margin-bottom: 10px;
  }

  .logo-footer {
    text-align: center;
    margin-top: 10px;
  }
  .btn {
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    border: none;
    /* background-color: #116edf; */
    background-image: linear-gradient(to right, blue, #116edf);
    color: white;
    font-size: 0.8rem;
    margin-bottom: 2.5rem;
    margin-top: -4px;
  }
}
